*.db-journal
*.pyc
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
deps
*.pem
cert
*.log
*.xml
*.mp3
*.txt
webostv.conf
home-assistant.db*
home-assistant_v2.db
OZW_Log.txt
*.conf
*.sqlite
secrets.yaml
.HA_VERSION
known_devices.yaml
__pycache__
*.uuid
google_calendars.yaml
*.google.token
*.cfg
*.rb
__pycache__
ikea_pw.py
*.db-shm
*.db-wal
debug*
standalonefiles/zones.yaml